<header>
  <h1 class="title-secondary">Select a Milestone</h1>
</header>
<div class="spacing border-top"></div>
<div class="single-book-page">
  <div class="books-single">
    <img class="book-cover" src="{{image}}" alt="{{title}} book cover" />
  </div>

  <div>
    <ul>
      <input id="book-id" type="hidden" value="{{id}}" />
      <select id="milestone">
        <option value="">Read %</option>
        {{#each milestoneTrivia}}
          <option class="opt" value="{{trivia}}">{{trivia}}</option>
        {{/each}}
      </select>
    </ul>
  </div>
  <div class="trivia"></div>
</div>
<div class="spacing border-bottom"></div>

<script src="/js/singleBook.js"></script>